<div class="bg-white shadow-xl rounded-md">
    <img [src]="destination.cover" [alt]="destination.title" class="w-full max-h-60 rounded-t-md sha" />
    <div class="mx-5 mt-5 text-justify">
        <p class="font-bold opacity-90 selection:bg-green-600">{{ destination.title }}</p>
        <p class="truncate selection:bg-green-600">{{ destination.description }}</p>
        <div class="flex justify-between items-center">
            <a href="#" class="block text-red-500 font-medium selection:bg-yellow-400">En savoir plus</a>
            <button class="my-5 btn-green float-right">Réserver</button>
        </div>
    </div>
</div>