<header class="fixed z-50 top-0 left-0 right-0">
  <!-- <div class="bg-green-700 h-16 p-5 w-full">
    <label class="relative z-30 block bottom-2 w-60 float-right">
      <span class="absolute inset-y-0 left-0 flex items-center pl-2">
        <span class="material-icons h-5 w-5 fill-slate-300">search</span>
      </span>
      <input class="form-control" placeholder="Search for anything..." type="text" name="search" autocomplete="off" />
    </label>
  </div> -->
  <nav class="p-5 bg-white drop-shadow-lg md:flex md:items-center md:justify-between">
    <div class="flex justify-between items-center">
      <span class="text-2xl">
        <img src="assets/logo.png" alt="logo" class="h-10 inline" />
        SenVol
      </span>

      <span class="text-3xl cursor-pointer mx-2 md:hidden block">
        <span class="material-icons" (click)="menu()">{{ menuType }}</span>
      </span>
    </div>

    <ul class="nav-list" id="menuList">
      <li class="mx-4 my-6 md:my-0">
        <a href="#" class="nav-link-a" routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="#" class="nav-link-a" routerLink="/flight" routerLinkActive="active">Vols</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="#" class="nav-link-a" routerLink="/reservation" routerLinkActive="active">Réservations</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="#" class="nav-link-a" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>

      <button class="btn-green ml-5" routerLink="/auth/login">Se connecter</button>
    </ul>
  </nav>
</header>
<img src="assets/banner2.jpg" alt="bannerImg" class="mt-20 w-full" />