<header class="header">
    <div class="top">
        <a href="#" class="log">S'inscrire</a>
        <a href="#" class="log">Se connecter</a>
    </div>
    <div class="navbar">
        <div class="nav">
            <span>SenVol</span>
            <a href="#">Accueil</a>
            <a href="#">Vols</a>
            <a href="#">A propos</a>
            <a href="#">Contact</a>
        </div>
        <div class="search" placeholder="Search">
            <input type="text">
            <button>Rechercher</button>
        </div>
    </div>
    <img src="assets/banner1.png" alt="banner1">
    <div class="slogan">
        <h2>Sénégal Vol</h2>
        <p>La nouvelle compagnie aérienne nationale, Air Sénégal,
            a pour ambition d’être le leader du transport aérien ouest-africain en s’appuyant sur le HUB régional AIBD
            (Aéroport International Blaise Diagne). Elle se fixe pour mission de desservir aussi bien des lignes intérieures
            que des lignes internationales.</p>
    </div>
</header>