<img src="assets/banner2.jpg" alt="banniere" class="w-full">
<div class="w-4/5 my-[25px] mx-auto">
    <button class="btn-green float-right mb-4" routerLink="/flight">
        Afficher les vols
    </button>
    <div class="clear-both relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-white uppercase bg-green-700">
                <tr>
                    <th scope="col" class="px-6 py-3">Date de réservation</th>
                    <th scope="col" class="px-6 py-3">Référence vol</th>
                    <th scope="col" class="px-6 py-3">Nombre de passager</th>
                    <th scope="col" class="px-6 py-3">Classe</th>
                    <th scope="col" class="px-6 py-3 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations$ | async" class="bg-white border-b hover:bg-gray-50">
                    <td class="px-6 py-4">{{ reservation.createdAt | date: "d MMMM yyyy" }}</td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">{{ reservation.volRef }}</th>
                    <td class="px-6 py-4">{{ reservation.numPassenger }}</td>
                    <td class="px-6 py-4">{{ reservation.classe | json }}</td>
                    <td class="px-6 py-4 text-center font-semibold">
                        <button class="btn-info mr-4" (click)="onModify(reservation.id)">Modifier</button>
                        <button class="btn-danger" (click)="onDelete(reservation.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
