<app-header></app-header>

<div
  class="grid md:grid-cols-3 sm:grid-cols-1 w-4/5 mx-auto my-[25px] divide-x-2 divide-dashed bg-white rounded-xl shadow-md selection:bg-green-600">
  <div class="p-5 md:col-span-2 sm:col-span-1">
    <div class="flex justify-between">
      <p class="text-red-600 uppercase mb-2 font-semibold selection:bg-yellow-400">Aller-simple</p>
      <p class="font-medium">prévu le 01 Avril 2022</p>
    </div>
    <div class="flex justify-between mb-2">
      <div>10h30</div>
      <div class="flex items-center justify-center gap-2">
        <div>1h</div>
        <span class="material-icons rotate-90 text-sm text-blue-500">flight</span>
        <div>direct</div>
      </div>
      <div>11h30</div>
    </div>
    <div class="flex justify-between">
      <p class="text-xl font-semibold">Dakar</p>
      <p class="text-xl font-semibold">Paris</p>
    </div>
  </div>

  <div class="flex flex-col justify-between p-5 items-center">
    <p class="font-medium text-3xl opacity-70">650 000 XOF</p>
    <button class="btn-green">Sélectionner</button>
  </div>
</div>
<div
  class="grid md:grid-cols-3 sm:grid-cols-1 w-4/5 mx-auto my-[25px] divide-x-2 divide-dashed bg-white rounded-xl shadow-md selection:bg-green-600">
  <div class="p-5 md:col-span-2 sm:col-span-1">
    <div class="flex justify-between">
      <p class="text-red-600 uppercase mb-2 font-semibold selection:bg-yellow-400">Aller-simple</p>
      <p class="font-medium">prévu le 01 Avril 2022</p>
    </div>
    <div class="flex justify-between mb-2">
      <div>10h30</div>
      <div class="flex items-center justify-center gap-2">
        <div>1h</div>
        <span class="material-icons rotate-90 text-sm text-blue-500">flight</span>
        <div>direct</div>
      </div>
      <div>11h30</div>
    </div>
    <div class="flex justify-between">
      <p class="text-xl font-semibold">Dakar</p>
      <p class="text-xl font-semibold">Paris</p>
    </div>
  </div>

  <div class="flex flex-col justify-between p-5 items-center">
    <p class="font-medium text-3xl opacity-70">650 000 XOF</p>
    <button class="btn-green">Sélectionner</button>
  </div>
</div>
<div
  class="grid md:grid-cols-3 sm:grid-cols-1 w-4/5 mx-auto my-[25px] divide-x-2 divide-dashed bg-white rounded-xl shadow-md selection:bg-green-600">
  <div class="p-5 md:col-span-2 sm:col-span-1">
    <div class="flex justify-between">
      <p class="text-red-600 uppercase mb-2 font-semibold selection:bg-yellow-400">Aller-simple</p>
      <p class="font-medium">prévu le 01 Avril 2022</p>
    </div>
    <div class="flex justify-between mb-2">
      <div>10h30</div>
      <div class="flex items-center justify-center gap-2">
        <div>1h</div>
        <span class="material-icons rotate-90 text-sm text-blue-500">flight</span>
        <div>direct</div>
      </div>
      <div>11h30</div>
    </div>
    <div class="flex justify-between">
      <p class="text-xl font-semibold">Dakar</p>
      <p class="text-xl font-semibold">Paris</p>
    </div>
  </div>

  <div class="flex flex-col justify-between p-5 items-center">
    <p class="font-medium text-3xl opacity-70">650 000 XOF</p>
    <button class="btn-green">Sélectionner</button>
  </div>
</div>
<div
  class="grid md:grid-cols-3 sm:grid-cols-1 w-4/5 mx-auto my-[25px] divide-x-2 divide-dashed bg-white rounded-xl shadow-md selection:bg-green-600">
  <div class="p-5 md:col-span-2 sm:col-span-1">
    <div class="flex justify-between">
      <p class="text-red-600 uppercase mb-2 font-semibold selection:bg-yellow-400">Aller-simple</p>
      <p class="font-medium">prévu le 01 Avril 2022</p>
    </div>
    <div class="flex justify-between mb-2">
      <div>10h30</div>
      <div class="flex items-center justify-center gap-2">
        <div>1h</div>
        <span class="material-icons rotate-90 text-sm text-blue-500">flight</span>
        <div>direct</div>
      </div>
      <div>11h30</div>
    </div>
    <div class="flex justify-between">
      <p class="text-xl font-semibold">Dakar</p>
      <p class="text-xl font-semibold">Paris</p>
    </div>
  </div>

  <div class="flex flex-col justify-between p-5 items-center">
    <p class="font-medium text-3xl opacity-70">650 000 XOF</p>
    <button class="btn-green">Sélectionner</button>
  </div>
</div>
<div
  class="grid md:grid-cols-3 sm:grid-cols-1 w-4/5 mx-auto my-[25px] divide-x-2 divide-dashed bg-white rounded-xl shadow-md selection:bg-green-600">
  <div class="p-5 md:col-span-2 sm:col-span-1">
    <div class="flex justify-between">
      <p class="text-red-600 uppercase mb-2 font-semibold selection:bg-yellow-400">Aller-simple</p>
      <p class="font-medium">prévu le 01 Avril 2022</p>
    </div>
    <div class="flex justify-between mb-2">
      <div>10h30</div>
      <div class="flex items-center justify-center gap-2">
        <div>1h</div>
        <span class="material-icons rotate-90 text-sm text-blue-500">flight</span>
        <div>direct</div>
      </div>
      <div>11h30</div>
    </div>
    <div class="flex justify-between">
      <p class="text-xl font-semibold">Dakar</p>
      <p class="text-xl font-semibold">Paris</p>
    </div>
  </div>

  <div class="flex flex-col justify-between p-5 items-center">
    <p class="font-medium text-3xl opacity-70">650 000 XOF</p>
    <button class="btn-green">Sélectionner</button>
  </div>
</div>

<app-footer></app-footer>