<div class="relative z-20 my-[35px] mx-auto w-4/5 bg-white p-[25px] rounded-md ">
    <h3 class="top-badge py-5">
        Nous contacter
    </h3>

    <div class="flex flex-col-3 justify-around py-5 md:flex-row ">

        <div>
            <p class="font-bold text-green-600 py-3 text-2xl text-justify uppercase">Nos expériences </p>
            <p>La nouvelle compagnie aérienne nationale, Air Sénégal, </p>
            <p>a pour ambition d’être le leader du transport
            <p>aérien ouest-africain en s’appuyant sur </p>
            <p>le HUB régional AIBD (Aéroport International Blaise Diagne).</p>
            <p>Elle se fixe pour mission de desservir </p>
            <p> aussi bien des lignes intérieures que des lignes
                internationales.</p>
        </div>
        <div>
            <p class="font-bold text-green-600 py-3 text-2xl text-justify uppercase">FAQ</p>
            <p>Police de bagage</p>
            <p>Conditions générales</p>
            <p>+221 77 458 78 96</p>
            <p>+221 33 897 54 54</p>
        </div>
        <div>
            <p class="font-bold  text-green-600 py-3 text-2xl text-justify uppercase">Aéroport</p>
            <p>Aéroport International Blaise Diagne</p>
            <p>Aéroport Militaire de Yoff</p>
            <p>Aéroport de Ziguinchor</p>
            <p>Aéroport de Paris </p>
            <p>Aéroport de Casablanca </p>

        </div>

    </div>

    <div class="flex flex-col-2 justify-around py-5 px-5 border border-x-gray-500-500 shadow-md md:flex-col-1 sm:flex-col-1 ">
        <div>
            <p class="font-bold text-green-600 py-3 text-2xl text-justify uppercase">AIR Sénégal / Compagnie Sénégalaise</p>
            <p class="pr-7">
                Air Sénégal est la compagnie aérienne nationale du Sénégal.
                Fondée en 2016, elle est détenue par l'État à travers
                la Caisse des Dépôts et Consignation du Sénégal.
                Elle opère depuis l'Aéroport international Blaise-Diagne de Dakar.
                Ibrahima Kane est Directeur Général de la compagnie Air Sénégal SA.
            </p><br>
            <a href="#" class="hover:text-green-600">
                <p> <b>Nombre de destinations</b> : 15 </p>
            </a><br>
            <a href="" class="hover:text-green-600">
                <p><b>Taille de flotte</b> : 6</p>
            </a><br>
            <a href="#" class="hover:text-green-600">
                <p><b>PGD</b> : Ibrahima kane (avr.2019)</p>
            </a><br>
            <a href="#" class="hover:text-green-600">
                <p><b>Siège socil</b> : Dakar</p>
            </a><br>
            <a href="#" class="hover:text-green-600">
                <p><b>Création</b> : avril 2016, Dakar</p>
            </a><br>
            <a href="#" class="hover:text-green-600">
                <p><b>Pôle</b> : Aéoroport de Dakar Blaise Diagne</p>
            </a><br>
        </div>
        <div>
            <p class="font-bold text-green-600 py-3 text-2xl text-justify uppercase">Dakar Airport GPS</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198429.22898698688!2d-17.412020408831204!3d14.699045785807957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1978b7d373883%3A0x2cdf8bb576cec596!2sDakar%20Airport!5e1!3m2!1sfr!2ssn!4v1647954387914!5m2!1sfr!2ssn"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

