<!-- <div class="w-4/5 mx-auto mt-[25px] mb-[50px]">
    <form class="flex justify-between items-center">
        <div class="">
            <label for="" class="font-medium mb-2 opacity-90">Ville de départ</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label for="" class="font-medium mb-2 opacity-90">Ville d'arrivée</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label for="" class="font-medium mb-2 opacity-90">Date de départ</label>
            <input type="date" class="form-control">
        </div>
        <div>
            <label for="" class="font-medium mb-2 opacity-90">Date d'arrivée</label>
            <input type="date" class="form-control">
        </div>
        <button type="submit" class="btn-green self-end">Rechercher</button>
    </form>
</div> -->

<div class="w-4/5 mx-auto mt-[50px] mb-10 relative bg-white rounded-lg p-10 drop-shadow-lg">
  <h3 class="top-badge">Filtrer les vols</h3>
  <form [formGroup]="filterFlightForm">
      <div class="md:flex md:flex-row md:gap-4 md:justify-center md:items-center sm:flex-col">
          <div>
              <label for="startCity" class="block mb-2 text-green-600 font-medium">
                Ville de départ
              </label>
              <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <span class="material-icons w-5 h-5 text-green-600">apartment</span>
                  </div>
                  <input type="text" id="startCity" autocomplete="off" formControlName="startCity"
                      class="form-control pl-10" />
              </div>
          </div>
          <div>
              <label for="endCity" class="block mb-2 text-green-600 font-medium">
                Ville d'arrivée
              </label>
              <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <span class="material-icons w-5 h-5 text-green-600">apartment</span>
                  </div>
                  <input type="text" id="endCity" autocomplete="off" formControlName="endCity"
                      class="form-control pl-10" />
              </div>
          </div>
          <div>
              <label for="startDate" class="block mb-2 text-green-600 font-medium">
                Date de départ
              </label>
              <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <span class="material-icons w-5 h-5 text-green-600">event</span>
                  </div>
                  <input type="text" id="startDate" autocomplete="off" formControlName="startDate"
                      class="form-control pl-10" />
              </div>
          </div>
          <div>
              <label for="endDate" class="block mb-2 text-green-600 font-medium">
                Date d'arrivée
              </label>
              <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <span class="material-icons w-5 h-5 text-green-600">event</span>
                  </div>
                  <input type="text" id="endDate" autocomplete="off" formControlName="endDate"
                      class="form-control pl-10" />
              </div>
          </div>
          <button type="submit" class="btn-green self-end mt-4" (click)="onFilter()" [disabled]="filterFlightForm.invalid">Rechercher</button>
      </div>
  </form>
</div>

<app-flight *ngFor="let flight of flights$ | async" [flight]="flight"></app-flight>