<aside class="w-64" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
        <a href="#" class="flex items-center pl-2.5 mb-5">
            <img src="assets/logo.png" class="h-6 mr-3 sm:h-7" alt="SenVol Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap">SenVol</span>
        </a>
        <ul class="space-y-2">
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
                    <span
                        class="material-icons w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">dashboard</span>
                    <span class="ml-3">Tableau de bord</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
                    <span
                        class="material-icons w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">flight</span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Vols</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
                    <span
                        class="material-icons w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">shopping_cart</span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Réservations</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
                    <span
                        class="material-icons w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">flight_takeoff</span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Destinations</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
                    <span
                        class="material-icons w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">person</span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Utilisateurs</span>
                </a>
            </li>
        </ul>

        <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200">
            <li>
                <a href="#"
                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 group">
                    <span class="material-icons flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900">logout</span>
                    <span class="ml-4">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
</aside>