<div class="w-4/5 mx-auto mt-[50px] mb-10 relative bg-white rounded-lg p-10 drop-shadow-lg">
    <h3 class="top-badge">Ajouter une réservation</h3>
    <form [formGroup]="addReservationForm">
        <div class="grid max-w-md mx-auto grid-cols-1 gap-4">
            <div class="w-full">
                <label for="volRef" class="block mb-2 text-green-600 font-medium">
                  Référence du vol
                </label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <span class="material-icons w-5 h-5 text-green-600">apartment</span>
                    </div>
                    <input type="text" id="volRef" autocomplete="off" formControlName="volRef" [ngModel]="flightId"
                      class="form-control pl-10 text-gray-400" readonly/>
                </div>
            </div>
            <div class="w-full">
                <fieldset class="mb-2 text-green-600 font-medium">
                    <legend>Nombre de passagers</legend>
                    <div class="grid grid-cols-3 gap-10" formGroupName="numPassenger">
                        <div class="w-full">
                            <label for="" class="text-xs text-gray-800">Adulte(s)</label>
                            <input type="number" name="" id="" class="form-control text-gray-700" formControlName="adult">
                        </div>
                        <div class="w-full">
                            <label for="" class="text-xs text-gray-800">Enfant(s)</label>
                            <input type="number" name="" id="" class="form-control text-gray-700" formControlName="child">
                        </div>
                        <div class="w-full">
                            <label for="" class="text-xs text-gray-800">Bébé(s)</label>
                            <input type="number" name="" id="" class="form-control text-gray-700" formControlName="baby">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="w-full">
                <label for="classe" class="block mb-2 text-green-600 font-medium">
                  Classe
                </label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <span class="material-icons w-5 h-5 text-green-600">apartment</span>
                    </div>
                    <select name="" id="" class="form-control pl-10" formControlName="classe">
                        <option value="Economy" selected>Economy</option>
                        <option value="Business">Business</option>
                        <option value="Eco-Premium">Eco-Premium</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn-green flex justify-center items-center" (click)="onReservation()" [disabled]="addReservationForm.invalid">
                <span class="material-icons text-md mr-1">airplane_ticket</span>
                <span>Ajouter</span>
            </button>
        </div>
    </form>
  </div>