<div class="my-[25px] mx-auto w-4/5">
    <h3 class="text-2xl font-semibold mb-2 uppercase">Vos destinations de rêve !</h3>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-[25px]">
        <div *ngFor="let destination of destinations" class="bg-white shadow-lg rounded-md">
            <img [src]="destination.cover" alt="coverImg" class="w-full max-h-60 rounded-t-md sha">
            <div class="mx-5 mt-5 text-justify">
                <p class="font-bold opacity-90">{{ destination.title }}</p>
                <p class="truncate">{{ destination.description }}</p>
                <div class="flex justify-between items-center">
                    <a href="#" class="block text-red-500 font-medium">En savoir plus</a>
                    <button class="my-5 bg-green-700 text-white duration-500 px-6 py-2 hover:bg-green-800 rounded float-right">Réserver</button>
                </div>
            </div>
        </div>
    </div>
</div>